<div class="panel panel-default">
    <div class="panel-heading">

        <h3>

            <%= title %>
            <div class="pull-right">
                <p>
                <div class="btn-group">
                    <a href="/blog/delete-all" class="btn btn-danger btn-sm"><%= __('delete_all') %></a>
                    <a href="/blog/add" class="btn btn-default btn-sm"><%= __('create') %></a>
                </div>
                </p>
            </div>

        </h3>

        <div class="help-block" style="font-size: 11px;"><%= __('count') %>: <%= blogs.length %></div>

    </div>
    <div class="panel-body">
        <%- partial('../blog/list') %>
    </div>
</div>
