<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            <%= title %>
        </h3>


    </div>
    <div class="panel-body">
        <form method="post" action="/setting/add">
            <input type="hidden" name="type" value="general"/>
            <p><%= __('site_name') %>:</p>
            <p><input type="text" name="site_name" class="form-control" placeholder="<%= site.site_name %>" value="<%= site.site_name %>"/></p>
            <p><%= __('description') %>:</p>
            <p><input type="text" name="description" class="form-control" placeholder="<%= site.description %>" value="<%= site.description %>"/></p>
            <!--<p><%= __('keywords') %>:</p>-->
            <!--<p><input type="text" name="keywords" class="form-control" placeholder="" value=""/></p>-->
            <p><%= __('favicon_url') %>:</p>
            <p><input type="text" name="favicon" class="form-control" placeholder="" value="<%= site.favicon %>"/></p>
            <p><%= __('language') %>:</p>
            <p><input type="text" name="language" class="form-control" placeholder="<%= site.language %>" value="<%= site.language %>"/></p>
            <p>
                <input type="submit" class="btn btn-primary" value="<%= __('save_changes') %>" />
            </p>
        </form>
    </div>
</div>

