<div class="panel panel-default">
    <div class="panel-heading">
        <h3>

            <%= title %>
            <div class="pull-right">
                <p>
                <div class="btn-group">
                    <!--<a href="/blog/delete-all" class="btn btn-danger btn-sm"><%= __('delete_all') %></a>-->
                    <a href="/" class="btn btn-default btn-sm" target="_blank"><%= __('view_site') %></a>
                </div>
                </p>
            </div>

        </h3>

        <div class="help-block" style="font-size: 11px;">An Administration Panel</div>

        <!--<div class="help-block" style="font-size: 11px;">New Blog post</div>-->
    </div>
    <div class="panel-body">
        <ul class="media-list">

            <div class="row">
                <div class="col-md-12">
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <p style="text-align: center;"><i class="icon-gear icon-4x"></i></p>

                                <div class="caption">
                                    <h3><%= __('general') %></h3>
                                    <p>Main configurations for site</p>
                                    <div class="btn-group">
                                        <a href="/admin/general" class="btn btn-sm btn-primary">Settings</a>
                                        <a href="/admin/general" class="btn btn-sm btn-default">Manage</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <p style="text-align: center;"><i class="icon-group icon-4x"></i></p>
                                <div class="caption">
                                    <h3><%= __('users') %></h3>
                                    <p>Main configurations for site</p>
                                    <div class="btn-group">
                                        <a href="/admin/users" class="btn btn-sm btn-primary">Settings</a>
                                        <a href="/admin/users" class="btn btn-sm btn-default">Manage</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <p style="text-align: center;"><i class="icon-comment icon-4x"></i></p>
                                <div class="caption">
                                    <h3><%= __('blogs') %></h3>
                                    <p>Main configurations for site</p>
                                    <div class="btn-group">
                                        <a href="/admin/blogs" class="btn btn-sm btn-primary">Settings</a>
                                        <a href="/admin/blogs" class="btn btn-sm btn-default">Manage</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <p style="text-align: center;"><i class="icon-comments icon-4x"></i></p>
                                <div class="caption">
                                    <h3><%= __('comments') %></h3>
                                    <p>Main configurations for site</p>
                                    <div class="btn-group">
                                        <a href="/admin/comments" class="btn btn-sm btn-primary">Settings</a>
                                        <a href="/admin/comments" class="btn btn-sm btn-default">Manage</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </ul>




    </div>
</div>

