<form method="post">
    <div class="row">
        <div class="col-md-6">
            <p>
                <label><%= __('name') %>:</label>
                <input type="text" name="name" value="<%= module.name %>" placeholder="<%= __('name') %>" class="form-control">
            </p>

            <p>
                <label><%= __('status') %>:</label>
                <input type="text" name="status" value="<%= module.status %>" placeholder="<%= __('status') %>" class="form-control">
            </p>

            <p>
                <label><%= __('components') %>:</label>
                <input type="text" name="components" value="<%= module.components %>" placeholder="<%= __('components') %>" class="form-control">
            </p>


        </div>

        <div class="col-md-6">
            <p>
                <label><%= __('id') %>:</label>
                <input type="text" name="id" value="<%= module.id %>" placeholder="<%= __('id') %>" class="form-control" disabled>
            </p>
        </div>
    </div>

    <a href="/admin/modules?id=<%= module.id %>&a=delete" class="btn btn-danger"><%= __('delete') %></a>
    <input type="submit"  class="btn btn-primary" value="<%= __('save_changes') %>" />

</form>