<ul class="list-group">
    <li class="list-group-item"><b><%= __('e-mail') %>: </b><%= user.email %></li>
</ul>
<!--<p><b><%= __('password') %>: </b><%= user.password %></p>-->
<!--<p><b><%= __('signed_in_with') %>:</b> <%= session.auth %></p>-->