<div class="panel panel-primary">
    <div class="panel-heading"><%= __('sign_up') %></div>
    <div class="panel-body">
        <form method="post">
            <p><input type="text" name="username" class="form-control" placeholder="<%= __('username') %>"/></p>

            <p><input type="text" name="password" class="form-control" placeholder="<%= __('password') %>"/></p>

            <p><input type="text" name="email" class="form-control" placeholder="<%= __('e-mail') %>"/></p>

            <p><input type="submit" value="<%= __('sign_up') %>" class="btn btn-default"/></p>
        </form>
    </div>
</div>