<div class="panel panel-default">
    <div class="panel-heading">


        <h3>

            <%= title %>
            <div class="pull-right">
                <p>
                <div class="btn-group">
                    <!--<a href="/blog/delete-all" class="btn btn-danger btn-sm"><%= __('delete_all') %></a>-->
                    <!--<a href="/blog/add" class="btn btn-default btn-sm"><%= __('create') %></a>-->
                </div>
                </p>
            </div>

        </h3>

        <!--<div class="help-block" style="font-size: 11px;">New Blog post</div>-->
    </div>
    <div class="panel-body">
        <form method="post">
            <p><input type="text" name="title" placeholder="<%= __('title') %>" class="form-control"/></p>
            <p><textarea name="content" placeholder="<%= __('text') %>" class="form-control" rows="10"></textarea></p>
            <div class="pull-right">
                <p>
                    <select name="privacy" class="form-control">
                        <option value="1"><%= __('public') %></option>
                        <option value="0"><%= __('only_me') %></option>
                    </select>
                </p>
            </div>

            <p><input type="submit" value="<%= __('post', '') %>" class="btn btn-primary"></p>
        </form>
    </div>
</div>
